.glow {
    margin: 0px;
    padding:0px;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;

}


.sf-image {
    width: 40px; 
    height: 40px; 
    text-align: left;
    top: 8px; 
    opacity: 0.9;
}

.about-me-text {
    color: rgb(108, 0, 197); 
    font-size: 60px;
    display: flex;
    padding-top: 0px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top: 3px;
    text-shadow: 2px 2px 8px yellow;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.ben-text {
    color: rgb(108, 0, 197); 
    font-size:30px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.paragraph {
    color: rgb(108, 0, 197); 
    opacity: .9;
    text-shadow: 1px 1px yellow;
    font-size:25px;
    padding-top: 10px;
    margin-left: 50px;
    padding-left: 50px;
    margin-right: 50px;
    padding-right: 50px;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}