.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.counter {
  bottom: 10px;
} 

.nav-bar{
  display: flex;
  justify-content: center;
  color: white;
  background-color: rgb(236, 216, 98);
}

.nav-bar a{
  padding: 5px;
}

.profile {
  border-radius: 50%;
  width: 220px;
  height: 220px;
}

.container {
  align-content: center;
  display: inline-block;
}

.team-box {
 display: inline-flex;
}

h2 {
  text-decoration: underline;
}

td {
  padding: 20px;
}

.title {
  font-style: italic;
}

.box-lim{
  max-width:500px;
  display: inline-block;
}