<!DOCTYPE html>
<html>
  <head>
    <title>Approve</title>
    <link rel='stylesheet', href='/stylesheets/style.css'>
  </head>
  <body>
    <h1>Approve</h1>
    <table id='table'>
      <%=
        for (let x = 0; x < result.length; x++) {
          console.log(x);
        }
      %>
    </table>
<!--     for results in result
     tr.odd(role='row')
       td #{results.id}
       td #{results.description}
       td #{results.status} -->
  </body>
</html>