<!DOCTYPE html>
<html>
  <head>
    <title>Ban</title>
    <link rel='stylesheet', href='/stylesheets/style.css'>
  </head>
  <body>
    <h1>Ban</h1>
    <form method='POST' action='/ban'>
      <label for='name'> Ban Username: </label><br>
      <input type='text', placeholder='username' name='username'><br>
      <input type='submit' value='Ban'><br>
    </form>
  </body>
</html>