<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel='stylesheet', href='/stylesheets/style.css'>
  </head>
  <body>
    <h1>Index</h1>
    <a href="/login">login</a>
    <br>
    <a href="/register">register</a>
    <br>
    <a href="/upload">upload</a>
    <br>
    <a href="/logout">logout</a>
    <br>
    <a href="/ban">ban</a>
    <br>
    <a href="/approve">approve</a>
  </body>
</html>