doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1= title
    a(href="/login") login
    br
    a(href="/register") register
    br
    a(href="/upload") upload
    br
    a(href="/logout") logout