<!DOCTYPE html>
<html>
  <head>
    <title>Listings</title>
    <link rel='stylesheet', href='/stylesheets/style.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript">
      function listings() {
        const username = document.getElementById("username").value;
        $.post("/listings", {
          "username": username
        },
        (data, status) => {
          var table = document.getElementById("table");
          table.getElementsByTagName("tbody")[0].innerHTML = table.rows[0].innerHTML;

          data.results.forEach((result) => {
            var row = table.insertRow(table.rows.length);

            var titleCell = row.insertCell(row.cells.length);
            titleCell.style = "text-align:center";
            titleCell.innerHTML = result.title;

            var descriptionCell = row.insertCell(row.cells.length);
            descriptionCell.style = "text-align:center";
            descriptionCell.innerHTML = result.description;

            var categoryCell = row.insertCell(row.cells.length);
            categoryCell.style = "text-align:center";
            categoryCell.innerHTML = result.category;

            var previewImageCell = row.insertCell(row.cells.length);
            previewImageCell.style = "text-align:center";

            var previewPicture = document.createElement('img');
            previewPicture.src = result.preview_path;
            previewPicture.style="width: 100px; height: 100px;";
            previewImageCell.appendChild(previewPicture);

            var priceCell = row.insertCell(row.cells.length);
            priceCell.style = "text-align:center";
            priceCell.innerHTML = "$" + result.price;

            var statusCell = row.insertCell(row.cells.length);
            statusCell.style = "text-align:center";
            statusCell.innerHTML = result.status;

            var purchaseCountCell = row.insertCell(row.cells.length);
            purchaseCountCell.style = "text-align:center";
            purchaseCountCell.innerHTML = result.purchase_count;

            var controlsCell = row.insertCell(row.cells.length);
            controlsCell.style = "text-align:center";

            var downloadForm = document.createElement("form");
            downloadForm.setAttribute("action", "/download");
            downloadForm.setAttribute("method", "post");
            downloadForm.setAttribute("style", "display: inline-block;");
            controlsCell.appendChild(downloadForm);

            var downloadSubmitButton = document.createElement("button");
            downloadSubmitButton.setAttribute("type", "submit");
            downloadSubmitButton.setAttribute("name", "path");
            downloadSubmitButton.setAttribute("value", result.raw_path);
            downloadSubmitButton.innerHTML = "Download";
            downloadForm.appendChild(downloadSubmitButton);
          });
        });
      }
    </script>
  </head>
  <body onload="listings()">
    <h1>Listings</h1>
    <input type="hidden" id="username" value="<%=username%>">
    <table id='table' width="100%">
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Category</th>
        <th>Preview Image</th>
        <th>Price</th>
        <th>Status</th>
        <th>Purchase Count</th>
        <th>Controls</th>
      </tr>
    </table>
  </body>
</html>