<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet', href='/stylesheets/style.css'>
  </head>
  <body>
    <h1>Login</h1>
     <form method='GET' action='/login'>
        <label for='name'> Username: </label><br>
        <input type='text' placeholder='username' name='username'><br>
        <label for='pw'> Password: </label><br>
        <input type='password' name='password'><br>
        <input type='submit' value='Submit'><br>
        <a href="/register">register</a>
    </form>
  </body>
</html>