<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
    <link rel='stylesheet', href='/stylesheets/style.css'>
  </head>
  <body>
    <h1>Register</h1>
      <form method='POST' action='/register'>
        <label for='username'> Username: </label><br>
        <input type='text', placeholder='username' name='username'><br>
        <label for='firstname'> First Name: </label><br>
        <input type='text', placeholder='first' name='firstname'><br>
        <label for='lastname'> Last Name: </label><br>
        <input type='text', placeholder='last' name='lastname'><br>
        <label for='email'> Email: </label><br>
        <input type='email', placeholder='name@mail.sfsu.edu' name='email'><br>
        <label for='pw'> Password: </label><br>
        <input type='password' name='password'><br>
        <label for='pw2'> Confirm Password: </label><br>
        <input type='password' name='confirmPassword'><br>
        <input type='submit' value='Sign Up'><br>
      </form>
    <a href="/login")>login</login>
  </body>
</html>